# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

.aws
.idea
/bin
.Python
/lib
/pip-selfcheck.json
/include
/src/config/uwsgi.ini
/src/owl/settings.py
/src/data

!src/logs/.gitkeep
src/logs/*