[uwsgi]

home            = /path/to/domain.name
chdir           = /path/to/domain.name
socket          = /tmp/owl.uwsgi.sock
pidfile         = /tmp/owl.uwsgi.pid
wsgi-file       = runserver.py
callable        = app
master          = true
lazy            = true
#processes      = 2
workers         = 4
daemonize       = logs/uwsgi.log
vacuum          = true
enable-threads  = true
touch-reload    = owl/settings.py
post-buffering  = 8192